<!DOCTYPE html>
<html>

<head>
    <!--       -->
    <!--  Meta Tags     -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

<title>Hajj Easily</title>
    <!-- web-fonts -->
    <link href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,500' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>

 

    <!--font-awesome -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
    

    <!-- ************** -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" 
    rel="stylesheet" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" 
    crossorigin="anonymous">
 

    <link href="https://fonts.googleapis.com/css?family=Comfortaa|Open+Sans" rel="stylesheet">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <link href="https://fonts.googleapis.com/css?family=Lalezar" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Rakkas" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Aref+Ruqaa" rel="stylesheet">
    <style>
        .intro{
            height: 661.5px;
            background-size: cover;
            text-align: center;
           

        }
        .intro .row
        {
            margin: 1%;
            padding: 5%;
        }
        .intro .btn {
            margin: 5px;
            width: 250px;
            height: 60px;
        }
         .btn-success {
            
            background-image:linear-gradient(to bottom,#c9cc36 0,#695d09 100%); 
            border-color: #979924;
        }
        .btn-success:not(:disabled):not(.disabled).active, .btn-success:not(:disabled):not(.disabled):active, .show>.btn-success.dropdown-toggle {
    color: #fff;
    background-color: #c3bc0a;
    border-color: #c3bc0a;
}

.btn-success:focus, .btn-success:hover {
    background-color: #c9cc36;
    background-position: 0 -15px;
}
.intro a{
    color: #fff;
}

        .intro .imgc{
            margin: auto;
            margin-top: -25px;
        }
        .intro .overlay {
	background: linear-gradient(90deg, rgba(0, 0, 0, 0.815) 0%, rgba(255, 255, 255, 0.712) 63%);
    height: 100%;
    width: 100%
}
    </style>
 
</head>


<body>

<section class="intro" style="background-image:url(/images/wow.jpg);">
	<div class="overlay">
		<div class="container">
			<div class="row">
				
				<div class="col-md-10 col-12 m-auto">
                    <img src="/images/logo.png" class="d-block imgc">
					<h1 class="font-weight-bold" style="color:black">Hajj Easily</h1>
					<p class="description m-auto text-center" style="color:black">website get you from home to hajj back to your home again </p>
					<button class=" mx-auto btn btn-success"><i class="fa fa-hand-pointer-o" aria-hidden="true"></i><a href="/login">Hajj</a></button>
                    <button class=" mx-auto btn btn-success"><i class="fa fa-hand-pointer-o" aria-hidden="true"></i><a href="/login">Oumra</a></button>


					
				</div>
			</div>
		</div>
	</div>
</section>
</body>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" 
				integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
				crossorigin="anonymous"></script>
</html>